<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http:\\wiprodigital.com"/> <!-- What site do you want to crawl? -->
    <add key="authority" value="wiprodigital.com"/> <!-- The authority is the server dns hostname or ip address. -->
    <add key="pathtositemapfile" value=".\sitemap.xml"/>
  </appSettings>
</configuration>